*{
    margin: 0 0;
    padding: 0 0;
}
/*主要部分*/
.content-main{
    position: relative;
    width: 100%;
    max-width: 50rem;
    margin: 0 auto;
}

/*头部*/
.bar-nav{


}


/*内容*/
.swiper{
    position: relative!important;
    overflow: hidden!important;
    margin: 0 0!important;
    text-align: center!important;
}
.swiper ul{
    background: rgba(231, 231, 231, 0) !important;
}
.swiper-ul{
    position: relative;
    width: 500%;
}
.swiper-ul li{
    position: relative;
    float: left;

    width: 20%;
}
.swiper-ul li img{
    position: relative;
    width: 100%;
}

.swiper .xiaoyuan{
    position: relative!important;
    bottom: 1.8rem!important;
}

.swiper .xiaoyuan li{
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background: #000!important;
    border-radius: 50%;
    margin-right: 0.5rem;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    text-align: center;
    line-height: 1rem;
}
.xiaoyuan a{
    color: #fff;
}
.swiper .xiaoyuan .xiaoyuan1{
    background: #c40564!important;
}
.swiper .xiaoyuan li:hover{
    background: #c40564!important;
}
.swiper .xiaoyuan a:active{
    color: #c40564;
}
/*抢购*/
.qianggou{
    position: relative;
    margin: 0.25rem 0;
    font-size: .85rem;
    width: 100%;
    overflow:hidden;
    background: #c40564;
}

.qianggo-title{
    position: relative;
    width: 100%;
    height: 55px;
}
.qianggou .title0{
    position: absolute;

    left: 4px;
    top: 20px;
    line-height: 24px;
    font-size: 24px;
    color: white;
}
.title1{
    position: absolute;
    left: 110px;
    top: 33px;

    line-height: 15px;
    font-size: 15px;
    color: white;
}

.title2{
    position: absolute;
    left: 190px;
    top: 33px;

    line-height: 15px;
    font-size: 15px;
    color: white;
}
.title3{
    position: absolute;
    left: 230px;
    top: 33px;

    line-height: 15px;
    font-size: 15px;
    color: white;
}
.title4{
    position: absolute;
    left: 275px;
    top: 33px;

    line-height: 15px;
    font-size: 15px;
    color: white;
}

.time-1{
    position: absolute;
    left: 160px;
    top: 30px;
    font-size: 15px;
    width: 12px!important;
    line-height: 20px;
    height: 20px;

    list-style-type:none;
    margin:0 0;
    padding: 0 0;

    overflow: hidden;
    color: white;
    text-align: center;
    background: #150046;
    border-radius: 2px;
}
.time-2{
    position: absolute;
    left: 175px;
    top: 30px;
    font-size: 15px;
    width: 12px;
    line-height: 20px;
    height: 20px;

    list-style-type:none;
    margin:0 0;
    padding: 0 0;

    overflow: hidden;
    color: white;
    text-align: center;
    background: #150046;
    border-radius: 2px;
}
.time-3{
    position: absolute;
    left: 200px;
    top: 30px;
    font-size: 15px;
    width: 12px;
    line-height: 20px;
    height: 20px;

    list-style-type:none;
    margin:0 0;
    padding: 0 0;

    overflow: hidden;
    color: white;
    text-align: center;
    background: #150046;
    border-radius: 2px;
}
.time-4{
    position: absolute;
    left: 215px;
    top: 30px;
    font-size: 15px;
    width: 12px;
    line-height: 20px;
    height: 20px;

    list-style-type:none;
    margin:0 0;
    padding: 0 0;

    overflow: hidden;
    color: white;
    text-align: center;
    background: #150046;
    border-radius: 2px;
}
.time-5{
    position: absolute;
    left: 240px;
    top: 30px;
    font-size: 15px;
    width: 12px;
    line-height: 20px;
    height: 20px;

    list-style-type:none;
    margin:0 0;
    padding: 0 0;

    overflow: hidden;
    color: white;
    text-align: center;
    background: #150046;
    border-radius: 2px;
}

.time-6{
    position: absolute;
    left: 255px;
    top: 30px;
    font-size: 15px;
    width: 12px;
    line-height: 20px;
    height: 20px;

    list-style-type:none;
    margin:0 0;
    padding: 0 0;

    overflow: hidden;
    color: white;
    text-align: center;
    background: #150046;
    border-radius: 2px;
}
.time-1 li {
    position: relative;
    top: -40px;
    /*animation:dsm2 6660s steps(100, end) 0s infinite;*/
}
.time-2 li {
    position: relative;
    top: -60px;
    /*animation:dsm3 6660s steps(100, end) 0s infinite;*/
}
.time-3 li {
    position: relative;
    top: -100px;
    /*animation:dsm5 660s steps(100, end) 0s infinite;*/
}
.time-4 li {
    position: relative;
    top: -180px;
    /*animation:dsm9 60s steps(10, end) 0s infinite;*/
}
.time-5 li {
    position: relative;
    top: -100px;
    /*animation:dsm5 100s steps(10, end) 0s infinite;*/
}
.time-6 li {
    position: relative;
    top: -180px;
    /*animation:dsm9 10s steps(100, end) 0s infinite;*/
}
@keyframes dsm2 {
    to {
        transform:translateY(40px)
    }
}
@keyframes dsm3 {
    to {
        transform:translateY(60px)
    }
}
@keyframes dsm5 {
    to {
        transform:translateY(100px)
    }
}
@keyframes dsm9 {
    to {
        transform:translateY(180px)
    }
}

.qianggo-mian{
    position: absolute;
    width: 100%;
    margin: 0 auto;
}
.qianggo-itemul{

    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display:         flex;*/

    margin-left: auto;
    margin-right: auto;

    width: 100%;
    max-width: 26rem;
    overflow: hidden;
}

.qianggo-itemli{
    position: relative;
    float: left;
    margin: 0 2px;
    width: 32%;
    background: white;
    list-style-type: none;
}
.qianggo-itemli:active{
    background: #dadada;
}
.qianggo-itema{
    position: relative;
    display: block;
    overflow: hidden;
    width: 100%;
}
.qianggo-img{
    position: relative;

    top: 10px;
    margin-left: 10%;
    width: 80%;
    transition: top 0.3s;
}
.qianggo-img:hover{
    top: 5px;
}
.qianggo-img img{
    position: relative;
    width: 80%;
}
.qianggo-item{
    position: relative;
    display: block;
    top: 5px;
    height: 1rem;
    line-height: 14px;
    overflow: hidden;

}
.item-name{
    position: relative;
    display: block;
    top: -5px;

    /*left: 5px;*/
    height: 1rem;
    line-height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    color: #1f1f1f;
    text-align: center;
}
.qiang-rmb{
    position: relative;
    float: right;
    left: 10px;
}
@media screen and (max-width:350px){
    .qianggou{
        height: 9.5rem;
    }
    .qianggo-mian{
        height: 8.5rem;
    }
    .qianggo-itemul{
        height: 6.5rem;
    }
}
@media screen and (max-width:620px) and (min-width:351px){
    .qianggou{
        height: 11rem;
    }
    .qianggo-mian{
        height: 10rem;
    }
    .qianggo-itemul{
        height: 8rem;
    }
}
/*min-device-width  分辨率*/
@media screen and (min-width:621px){
    .qianggou{
        height: 12rem;
    }
    .qianggo-mian{
        height: 11rem;
    }
    .qianggo-itemul{
        height: 9.4rem;
    }
}

.guanggao{
    position: relative;
    width: 100%;
    padding-top: 20px;
    height: 90px;
    overflow: hidden;
    /*background: #e9e9e9;*/
}
.guanggao img{
    width: 100%;
}

.item-rmb{
    font-size: 1.2rem;
    line-height: 1.2rem;
}
.groupText{
    position: relative;
    display: -webkit-box;
    height: 2.1rem;
    margin-right: 4.5rem;
    overflow: hidden;
    font-size: .75rem;
    line-height: 1.05rem;
    color: #5f646e;
    text-overflow: ellipsis;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.groupBuy{
    position: absolute;
    top: 3rem;
    right: 0.4rem;
    width: 5rem;
    height: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    color: white;
    border-radius: 0.3rem;
    background: #c40564;
}

.groupBuy:active{
    color: #440522;
}
.groupLast{
    text-align: center;
}

/*标题*/
.titleBackground{
    background:white;
}

/*底部*/
.bar-tab{

}
.itemClassimgMove{
    position: absolute;
}
/*左侧*/
.content-l{
    padding: 0 .75rem;
    margin: 4.75rem 0;
    color: #6d6d72;
}